* {
    margin: 0px;
}

.lines hr {
    border: 1px solid rgb(28, 31, 150);
    margin: 20px;
}

.title {
    color: rgb(248, 105, 98);
    margin-left: 20px;
}

.container {
    width: 253px;
    margin: 0 auto;
    position: relative;
    top: 320px;
}